.hero {
  display: flex;
  flex-direction: column;
  margin: 0 1rem 0 1rem;
  width: 90%;
  position: relative;
  max-width: 1152px;
  margin: 0 auto;
  min-height: calc(100vh - 6.5rem);
  padding-top: 7.5rem;
  padding-bottom: 4.5rem;
  justify-content: center;
}

.hero-img svg {
  width: 100%;
  margin: 2rem 0 2rem 0;
}

.hero-container:before {
  background-image: radial-gradient(#5b8efc4b 15%, transparent 0),
    radial-gradient(#5b8efc4b 15%, transparent 0);
  background-size: 0.75rem 0.75rem;
  background-position: 0 0, 0.375rem 0.375rem;
  -webkit-clip-path: polygon(
    100% 15%,
    50% 25%,
    45% 35%,
    100% 45%,
    100% 100%,
    50% 100%,
    0 70%,
    0 100%,
    100% 100%
  );
  clip-path: polygon(
    100% 15%,
    50% 25%,
    45% 35%,
    100% 45%,
    100% 100%,
    50% 100%,
    0 70%,
    0 100%,
    100% 100%
  );
  content: "";
  height: 100%;
  left: 50%;
  position: absolute;
  top: 0;
  transform: translateX(-50%);
  width: 100%;
  z-index: -1;
}

.hero h1 {
  font-size: 4rem;
  margin-bottom: 2rem;
  color: var(--secondary);
  font-weight: 700;
  line-height: 1;
}

.hero span {
  color: var(--primary);
  line-height: 1;
}

.hero h2 {
  font-size: 175%;
  margin-bottom: 2rem;
  color: var(--text);
  font-weight: 600;
  font-family: "IBM Plex Sans", sans-serif;
}

@media (min-width: 768px) {
  .hero {
    text-align: left;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    float: left;
  }

  .hero-container {
    display: flex;
    flex-direction: row;
  }

  .hero-description {
    flex-basis: 50%;
  }

  .hero-img svg {
    width: 150%;
  }
}

/* Arrow */
.arrow {
  display: block;
  margin: 0 auto;
  width: 24px;
  height: 100px;
}

.arrow svg {
  position: absolute;
  bottom: 75px;
  left: 50%;
  fill: var(--primary);
  transform: translateX(-50%);
}

.firstArrow {
  animation: mainArrowAnim 2s ease-out infinite;
  animation-delay: 4s;
}

.secondArrow {
  animation: supportArrowAnim 2s ease-out infinite;
  animation-delay: 4.4s;
}

.thirdArrow {
  animation: supportArrowAnim 2s ease-out infinite;
  animation-delay: 4.85s;
}

@keyframes mainArrowAnim {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(-30px);
  }
  40%,
  80% {
    opacity: 1;
    transform: translateX(-50%) translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(-50%) translateY(15px);
  }
}

@keyframes supportArrowAnim {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(-30px);
  }
  40% {
    opacity: 1;
    transform: translateX(-50%) translateY(0px);
  }
  41%,
  100% {
    opacity: 0;
  }
}

/* Buttons */
.projects-button {
  margin-bottom: 1rem;
}

.projects-button .button {
  background: var(--primary);
  background: linear-gradient(180deg, var(--primary) 0%, var(--secondary) 100%);
  border-radius: 6px;
  border: 1px solid var(--primary);
  display: inline-block;
  cursor: pointer;
  color: var(--background);
  font-size: 120%;
  font-weight: 700;
  padding: 0.5rem 1rem;
  text-decoration: none;
  position: relative;
  letter-spacing: calc(0.05em - 0.05rem);
}

.projects-button .button:hover {
  opacity: 0.9;
}

.projects-button .button:active {
  position: relative;
  top: 1px;
}

.projects-button .button:hover:before {
  box-shadow: 0 0.5rem 1rem -0.5rem var(--text);
}

.projects-button .button:before {
  opacity: 1;
}

.projects-button .button:before {
  box-shadow: 0 0.25rem 0.5rem -0.25rem var(--text);
  opacity: 0.5;
  transition: box-shadow 0.15s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  z-index: -1;
}

.projects-button .button:after,
.projects-button .button:before {
  content: "";
  border-radius: 0.3rem;
  height: calc(100% + 2px);
  left: -1px;
  position: absolute;
  top: -1px;
  width: calc(100% + 2px);
}

.projects-button .button:after {
  opacity: 0.2;
}

@media (min-width: 768px) {
  .projects-button {
    margin-bottom: 0;
  }

  .contact-button {
    margin-left: 1rem;
  }
}

.contact-button .button {
  background: var(--background);
  background: linear-gradient(5deg, var(--background) 0%, var(--tertiary) 100%);
  color: var(--primary);
}
