/* Card */
.card a {
  color: var(--text);
}

.card a:hover {
  border-bottom: 1.5px var(--link) dotted;
}

.card .projects__projects {
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 3rem;
}

.card .project-card {
  display: flex;
  flex-direction: column;
  position: relative;
}

.card .project-card__image {
  background-color: var(--background);
  border-radius: 0.3rem;
  box-shadow: var(--box-shadow);
  overflow: hidden;
  padding-bottom: 50%;
  position: relative;
  width: calc(100% - 1.5rem);
  z-index: -1;
}

.card .project-card__image .lazy {
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.card .project-card__title {
  display: inline-block;
  margin-bottom: 0.5rem;
  font-weight: 700;
  font-size: 1.5rem;
}

.card .project-card__link {
  color: var(--link);
}

.card .project-card__link:after {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  content: "";
  top: 0;
}

.card .project-card__link:hover {
  background-size: 100% 1px;
}

.card .project-card__date {
  font-weight: 400;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  display: block;
  font-family: "IBM Plex Sans", sans-serif;
  color: var(--date);
}

.card small {
  font-size: 90%;
}

.card .lazy {
  background-color: var(--background);
  border-radius: 0.3rem;
  width: 100%;
}

.card .project-card__image .lazy picture {
  height: 100%;
}

.card .lazy picture {
  border-radius: 0.3rem;
  overflow: hidden;
}

.card img,
.card picture,
.card video {
  max-width: 100%;
}

.card .project-card__content {
  background-color: var(--background);
  border: 1px solid var(--tertiary);
  border-radius: 0.3rem;
  box-shadow: var(--box-shadow);
  flex-grow: 1;
  margin-top: -3rem;
  margin-left: 1.5rem;
  padding: 1rem 1.5rem 1.5rem;
  transition: box-shadow 0.15s cubic-bezier(0.445, 0.05, 0.55, 0.95),
    border-color 0.15s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.card .project-card__description {
  font-weight: 400;
  font-size: 1.3rem;
  letter-spacing: calc(0.05em - 0.05rem);
}

.card .project-card__content:hover {
  border-color: var(--link);
  box-shadow: 0 0 2rem -1rem var(--box-shadow);
}

.card .project-card:hover .project-card__image:after {
  opacity: 0.5;
}

@media (min-width: 800px) {
  .card .projects__projects {
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  }
}

.card .project-card__image:after {
  background-image: linear-gradient(var(--tertiary), var(--link));
  content: "";
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: opacity 0.15s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  width: 100%;
}

.card .project-card__image .lazy picture .lazy__image--loaded {
  height: 100%;
}

.card .project-card__image .lazy picture .lazy__image {
  object-fit: cover;
  object-position: top left;
}

.card .lazy__image--loaded {
  filter: none;
  margin: 0;
  max-width: 100%;
  width: 100%;
}

.card .lazy__image {
  display: block;
}

.card ol {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.card ol,
.card ul {
  list-style: none;
}

.card .blog__posts {
  display: grid;
  grid-gap: 1.5rem;
}

.card .post-card {
  background-color: var(--background);
  border: 1px solid var(--tertiary);
  border-radius: 0.3rem;
  box-shadow: var(--box-shadow);
  position: relative;
  transition: box-shadow 0.15s cubic-bezier(0.445, 0.05, 0.55, 0.95),
    border-color 0.15s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.card .post-card:before {
  background-image: linear-gradient(
    90deg,
    var(--background) 2rem,
    rgba(249, 249, 251, 0)
  );
  border-radius: 0.3rem;
  content: "";
  height: calc(100% + 2rem);
  left: -1rem;
  pointer-events: none;
  position: absolute;
  top: -0.5rem;
  width: calc(100% + 1rem);
}

.card .post-card:hover {
  border: 1px solid var(--link);
  box-shadow: var(--box-shadow);
}

.card .post-card__content {
  padding: 1rem 1.5rem 1.5rem 0;
  position: relative;
}

.card .post-card__title {
  margin-bottom: 0.5rem;
  font-weight: 700;
  font-size: 1.5rem;
}

.card .post-card__link {
  color: var(--link);
}

.card .post-card__link:hover {
  background-size: 100% 1px;
}

.card .post-card__link:after {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  content: "";
  top: 0;
}

.card .post-card__details {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 400;
  font-size: 1.2rem;
  font-family: "IBM Plex Sans", sans-serif;
  color: var(--date);
}

.card .post-card__description {
  font-weight: 400;
  font-size: 1.3rem;
  letter-spacing: calc(0.05em - 0.05rem);
}

/* Projects card */
.projects-card a {
  color: var(--link);
}

.projects-card p {
  font-size: 1rem;
}

.projects-card .columns {
  margin-left: -1rem;
  margin-right: -1rem;
  margin-top: -1rem;
}

.projects-card .column {
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 1rem 1em 1rem 1rem;
}

.projects-card .card {
  background-color: var(--background);
  border-radius: 0.25rem;
  box-shadow: var(--box-shadow);
  color: var(--text);
  max-width: 100%;
  overflow: hidden;
  position: relative;
}

.projects-card .card-content {
  padding: 1rem 1rem 0 1rem;
}

.projects-card .content {
  display: flex;
  justify-content: space-evenly;
}

.projects-card .text-centered {
  text-align: center;
}

.projects-card .title {
  font-weight: 700;
}

.projects-card .card-footer {
  border-top: 1px solid #c1c1c1;
  text-align: center;
}

.projects-card .card-footer-item {
  display: inline-block;
  position: relative;
  margin: 1rem 1rem 1rem 1rem;
  line-height: 0;
}

.projects-card .card-footer-item svg {
  fill: var(--text);
}

@media (min-width: 768px) {
  .projects-card .columns {
    display: flex;
  }
}

/* export const StyledSkillsCard = styled.section`
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 30px 30px;

  .cardsGrid {
    display: flex;
    flex-direction: column;
    width: 100%;

    @media (min-width: 850px) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;

      .cardWrapper {
        margin: 0 16px;
      }
    }
  }

  .cardWrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
      font-size: 1.1rem;
      font-weight: 700;
      text-align: center;
      color: var(--text);
      font-family: "Open Sans", sans-serif;
    }

    .card {
      width: calc(min(100%, 300px));
      height: 400px;
      margin: 16px 0 30px;
      background-color: ${(props) => props.theme.colors.secondary};
      border-radius: 10px;
      padding: 10px 8px 40px;
      display: flex;
      flex-direction: column;

      .row {
        flex: 1;
        display: flex;
        align-items: flex-end;
        justify-content: space-evenly;

        .item {
          display: flex;
          flex-direction: column;
          align-items: center;
          transition: 0.2s;

          h4 {
            color: #f4f7f5;
            text-align: center;
            margin-top: 8px;
            font-family: "Open Sans", sans-serif;
          }

          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }
  }
`; */
