:root {
  --primary: #2079c7;
  --secondary: #6aadff;
  --tertiary: #def2ff;
  --text: #222823;
  --link: #1155cc;
  --background: #f4f7f5;
  --box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  --date: rgba(0, 0, 0, 0.6);
}

[data-theme="dark"] {
  --primary: #a7a2a9;
  --secondary: #575a5e;
  --tertiary: #575a5eae;
  --text: #f4f7f5;
  --link: #e7cfbc;
  --background: #222823;
  --box-shadow: 0 0 5px rgba(0, 0, 0, 1);
  --date: #d5d8d6;
}

/* Section */
.section {
  display: flex;
  flex-direction: column;
  margin: 0 1rem 0 1rem;
  justify-content: center;
  width: 90%;
  position: relative;
  max-width: 1152px;
  margin: 0 auto;
  min-height: calc(100vh - 6.5rem);
  padding-top: 7.5rem;
  padding-bottom: 4.5rem;
}

.section h1 {
  font-size: 4.2rem;
  margin: 1rem 0 1rem 0;
  color: var(--secondary);
  line-height: 1;
  font-weight: 700;
}

.section span {
  color: var(--primary);
  line-height: 1;
}

.section p {
  font-size: 1.4rem;
}

.see-all,
.see-all:hover {
  flex: 1;
  float: right;
  white-space: nowrap;
  margin-top: 1rem;
  border-bottom: none;
  font-size: 1.1rem;
}

.back-to-home,
.back-to-home:hover {
  flex: 1;
  text-align: left;
  white-space: nowrap;
  margin-top: 1rem;
  display: inline-block;
  border-bottom: none;
  font-size: 1.1rem;
}

.see-all span,
.back-to-home span {
  color: var(--link);
}

.see-all span:hover,
.back-to-home span:hover {
  border-bottom: 1.5px var(--link) dotted;
  color: var(--link);
}

.blog-container:before {
  background-image: radial-gradient(#5b8efc4b 15%, transparent 0),
    radial-gradient(#5b8efc4b 15%, transparent 0);
  background-size: 0.75rem 0.75rem;
  background-position: 0 0, 0.375rem 0.375rem;
  -webkit-clip-path: polygon(
    100% 15%,
    50% 25%,
    45% 35%,
    100% 45%,
    100% 100%,
    50% 100%,
    0 70%,
    0 100%,
    100% 100%
  );
  clip-path: polygon(
    0 25%,
    30% 35%,
    30% 55%,
    0 65%,
    0 75%,
    30% 65%,
    40% 75%,
    30% 200%,
    0 100%,
    90% 100%,
    100% 90%,
    100% 100%,
    0 100%
  );
  content: "";
  height: 100%;
  left: 50%;
  position: absolute;
  top: 0;
  transform: translateX(-50%);
  width: 100%;
  z-index: -1;
}

.projects-container:before {
  background-image: radial-gradient(#5b8efc4b 15%, transparent 0),
    radial-gradient(#5b8efc4b 15%, transparent 0);
  background-size: 0.75rem 0.75rem;
  background-position: 0 0, 0.375rem 0.375rem;
  -webkit-clip-path: polygon(50% 0, 100% 0%, 100% 100%, 50% 100%, 20% 50%);
  clip-path: polygon(50% 0, 100% 0%, 100% 100%, 50% 100%, 20% 50%);
  content: "";
  height: 100%;
  left: 50%;
  position: absolute;
  top: 0;
  transform: translateX(-50%);
  width: 100%;
  z-index: -1;
}
