@import url("section.css");

:root {
  --primary: #2079c7;
  --secondary: #6aadff;
  --tertiary: #def2ff;
  --text: #222823;
  --link: #1155cc;
  --background: #f4f7f5;
  --box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  --date: rgba(0, 0, 0, 0.6);
}

[data-theme="dark"] {
  --primary: #a7a2a9;
  --secondary: #575a5e;
  --tertiary: #575a5eae;
  --text: #f4f7f5;
  --link: #e7cfbc;
  --background: #222823;
  --box-shadow: 0 0 5px rgba(0, 0, 0, 1);
  --date: #d5d8d6;
}
