.st0 {
  fill: var(--tertiary);
}

.st1 {
  fill: var(--primary);
}

.st2 {
  fill: #f2f2f2;
}

.st3 {
  fill: none;
}

.st4 {
  fill: none;
  stroke: #d3d3d3;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

.st5 {
  fill: #e8baba;
}

.st6 {
  fill: #313131;
}

.st7 {
  fill: #fbbebe;
}

.st8 {
  fill: #3f3d56;
}

.st9 {
  fill: #ffffff;
}

.st10 {
  fill: #d1d3d4;
}

.st11 {
  fill: #e6e7e8;
}
